* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  padding-bottom: 30px;
}
body {
  overflow-x: hidden;
}
header {
  background-color: #e9e9e9;
  height: 72px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  font-size: 28px;
  font-weight: 800;
}
header .icon {
  font-size: 28px;
  font-weight: 800;
  position: relative;
}
header .icon i {
  font-size: 32px;
}
header > .icon span {
  background-color: tomato;
  color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -25px;
  right: -25px;
}

.cart {
  display: grid;
  grid-template-rows: 72px 1fr 72px;
  position: absolute;
  background-color: #333;
  color: #fff;
  width: 400px;
  height: 100vh;
  top: 0;
  right: -400px;
  transition: 0.3s;
}

.cart.active {
  right: 0;
}

.cart .head {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e9e9e9;
  padding: 10px;
}
.cart .items-lis {
}

.cart .items-lis .item {
  height: 72px;
  display: grid;
  grid-template-columns: 50px 1fr 70px 30px;
  padding: 10px;
  align-items: center;
}
.cart .items-lis .item img {
  width: 50px;
}
.cart .items-lis .item .name {
  font-size: 18px;
}

.cart .items-lis .item .control {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-right: 5px;

  & .col {
    width: 20px;
    height: 20px;
    background-color: #fff;
    color: #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}
.cart .items-lis .item:nth-of-type(even) {
  background-color: #e9e9e9;
  color: #000;
}
.cart .control {
  display: flex;
}
.cart .control .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  font-size: 28px;
  font-weight: 800;
  cursor: pointer;
}
.cart .control .btn.close {
  background-color: #e9e9e9;
  color: #333;
}
.cart .control .btn.confirm {
  background-color: orange;
}

.shop {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fill, 500px);
  gap: 20px;
  margin-top: 50px;
}

.shop .item {
  background-color: #e9e9e9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  row-gap: 10px;
  border-radius: 10px;
  padding: 10px;
  & img {
    width: 100%;
    filter: drop-shadow(1px 1px 20px #000);
  }
  & .add-to-cart {
    background-color: #333;
    color: #fff;
    width: 150px;
    padding: 5px;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
  }
}
